<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <a class="logout" href="/logout">LogOut</a>
    <a class="home" href="/dashboard">Home</a>
    <div id="create_cont">
        <h1>Create a new wish list item</h1>
        <form method="post" action="/wish_items/create">
            {% csrf_token %}
            <label for="product">Product: </label>
            <input id="product" name="product" type="text"><br>
            <button type="submit">Add</button>
        </form>
    </div>
    
</body>
</html>